[Desktop Entry]
Name=NEILICO
NoDisplay=true
MimeType=x-scheme-handler/neilico;
TryExec=neilico
Exec=neilico %u
Icon=neilico
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=neilico
