[Desktop Entry]
Name=NEILICO
GenericName=Remote Desktop
Comment=NEILICO Remote Desktop
Exec=neilico %u
Icon=neilico
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=neilico

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=neilico %u
